<!-- Navbar similar a Bootstrap -->
<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <div class="navbar-brand">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a21875f1-2ef0-412b-8509-fe8928c12cec/dfdqiz6-878e728a-f93a-4664-ab31-0ceb9d70f5b2.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2EyMTg3NWYxLTJlZjAtNDEyYi04NTA5LWZlODkyOGMxMmNlY1wvZGZkcWl6Ni04NzhlNzI4YS1mOTNhLTQ2NjQtYWIzMS0wY2ViOWQ3MGY1YjIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.6cgtV7fh8VZv640Ri9amrqUKEQ6saTENlDhR-qTW1EI" alt="Logo" class="navbar-logo">
      <span class="navbar-title">Mi Menú</span>
    </div>
    <span class="spacer"></span>
    <mat-nav-list class="navbar-menu">
      <mat-list-item routerLink="/api">API</mat-list-item>
      <!-- Puedes añadir más elementos aquí -->
    </mat-nav-list>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Contenedor para el contenido del menú con fondo -->
<div class="menu-background">
  <div class="menu-content">
    <!-- Aquí puedes agregar el contenido que quieras mostrar en el menú -->
    <h1>HOLA CHAVO!</h1>
    <p>Me llamo Jorge Bienvenido.</p>
  <img src="https://i.gifer.com/XOsX.gif" alt="">
  </div>
</div>
